<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<!-- end custom footer snippets -->

<!-- <div class="main-bg">
    <img id="anchor" src="/images/rm.jpg">
    <div id="eyes">
        <img id="e1" class="eye" src="/images/ieye-sm.png" style=" bottom: 7vh;    right: 9vh;">
        <img id="e2" class="eye" src="/images/ieye-big.png" style=" bottom: 7vh;    right: 19vh;">
        <img id="e3" class="eye" src="/images/ieye-big.png" style=" left: 9vh;    top: 15vh;">
        <img id="e4" class="eye" src="/images/ieye-big.png" style=" left: 24vh;    top: 15vh;">
    </div>
</div> -->