---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body>

  {% include browser-upgrade.html %}
  {% include masthead.html %}


  {{ content }}

  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>




  <div class="page__footer">
    <footer>
      <a href="{{ '/projects/dv/' | relative_url }}">Mini Projects</a>


      {% include footer/custom.html %}
      {% include footer.html %}
    </footer>
  </div>

  {% include scripts.html %}

</body>
<script type="text/javascript">
  const coords = { x: 0, y: 0 };
  const circles = document.querySelectorAll(".circle");

  const colors = [
    "#6f7382", "#767c8d", "#7e8598",
    "#858fa3", "#8c98ae", "#93a2ba",
    "#9aacc5", "#a0b6d1", "#a7c0dc",
    "#adcbe8", "#b4d5f3", "#bae0ff"
  ];

  circles.forEach(function (circle, index) {
    circle.x = 0;
    circle.y = 0;
    circle.style.backgroundColor = colors[index % colors.length];
  });

  window.addEventListener("mousemove", function (e) {
    coords.x = e.clientX;
    coords.y = e.clientY;

  });

  function animateCircles() {

    let x = coords.x;
    let y = coords.y;

    circles.forEach(function (circle, index) {
      circle.style.left = x - 12 + "px";
      circle.style.top = y - 12 + "px";

      circle.style.scale = (circles.length - index) / circles.length;

      circle.x = x;
      circle.y = y;

      const nextCircle = circles[index + 1] || circles[0];
      x += (nextCircle.x - x) * 0.3;
      y += (nextCircle.y - y) * 0.3;
    });

    requestAnimationFrame(animateCircles);
  }

  animateCircles();



  document.addEventListener("mousemove", function (e) {
    let x = e.clientX;
    let y = e.clientY;
    let anchor = document.getElementById("anchor");
    let eyes = document.querySelectorAll(".eye");

    let anchorCoords = anchor.getBoundingClientRect();
    let anchorX = anchorCoords.left + anchor.width / 3;
    let anchorY = anchorCoords.top + anchor.height / 3;

    let rad = Math.atan2(anchorY - y, anchorX - x);
    let rot = (rad * (180 / Math.PI));
    console.log(rot);
    eyes.forEach(eye => {
      eye.style.transform = "rotate(" + (90 + rot) + "deg)";
      anchor.style.filter = 'hue-rotate(' + rot + 'deg)';
    });
  });


  // uncomment for developement
  document.addEventListener('contextmenu', event => event.preventDefault());
  document.addEventListener('keydown', function (event) {
    if (event.ctrlKey && (event.key === 'u' || event.key === 's' || event.key === 'i' || event.key === 'c')) {
      event.preventDefault();
    }
  });

</script>

</html>